<!DOCTYPE HTML>
<html lang="en-US">
    <head>
      {% load staticfiles %}
      <meta charset="UTF-8">
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      <link rel="stylesheet" href="{% static "css/style.css" %}" />
      <link rel="shortcut icon" href="{% static "img/favicon.png" %}" />
      <title>Michel Rouly</title>
    </head>
    <body>
      <div id="maincontent">

        <h1>{% block pagetitle %}{% endblock %}</h1>

        <span id="nav">
          <a href="{% url 'home' %}">home</a> - 
          <a href="{% url 'work' %}">work</a> - 
          <a href="{% url 'projects' %}">projects</a> -
          <a href="{% url 'research' %}">research</a> - 
          <a href="{% url 'community' %}">community</a> - 
          <a href="/resume.pdf">résumé</a>
        </span>

        <span id="contact_me">
          <a href="{% url 'contact' %}">contact</a>
        </span>

        <hr />

        {% block content %}

        {% endblock %}

      </div>
      <div id="timestamp">2014-03-20 <a href="http://www.apache.org/licenses/LICENSE-2.0">&copy; Jean Michel Rouly</a></div>
    </body>
</html>
