{% extends 'base.html' %}
{% load staticfiles %}

{% block pagetitle %}
michel rouly &middot; {contact}
{% endblock %}

{% block content %}

<h2>Contact</h2>

<p>
  <span title="mobile phone" class="contacttype fa fa-phone"></span>
  (571) 218-7173<br />

  <span title="email" class="contacttype fa fa-envelope-o"></span>
  michel at rouly dot net<br />

  <span title="skype" class="contacttype fa fa-skype"></span>
  michel.rouly
</p>

<p>
  <span title="twitter" class="contacttype fa fa-twitter"></span>
  <a href="//twitter.com/MichelRouly">MichelRouly</a><br />

  <span title="facebook" class="contacttype fa fa-facebook"></span>
  <a href="//fb.com/michel.rouly">michel.rouly</a>
</p>

<h2>Portfolio</h2>

<p>
  <span title="linkedin" class="contacttype fa fa-linkedin"></span>
  <a href="//linkedin.com/pub/michel-rouly/62/64a/760">Michel Rouly</a><br />

  <span title="github" class="contacttype fa fa-github-square"></span>
  <a href="//github.com/jrouly">jrouly</a>
</p>

<p>
  Contact information is also available in my
  <a href="/resume.pdf">résumé</a>.
</p>

{% endblock %}
