{% extends 'base.html' %}
{% load staticfiles %}

{% block pagetitle %}
michel rouly &middot; {projects}
{% endblock %}

{% block content %}

<h2>Go &mdash; A university branded URL shortener</h2>
<p>
  <strong>Documentation:</strong>
  <a href="http://wiki.srct.gmu.edu/wiki/index.php/Go">SRCT Wiki</a>
  <br />

  <strong>Repository:</strong>
  <a href="http://github.com/jrouly/go">GitHub</a>
  <br />

  <strong>Link:</strong>
  <a href="http://go.gmu.edu">SRCT Go</a>
  <br /></br />

  <strong>Description:</strong>
  SRCT Go is a university-branded URL shortening service. Providing URL
  shortening enhances branding when used by administration, student
  organizations, and elsewhere. Go was originally written from the ground
  up using Python and
  <a href="http://code.google.com/p/modwsgi/">mod_wsgi</a>, powered
  by a <a href="http://mariadb.org/">MariaDB</a> backend, but has since
  been rewritten in <a href="http://djangoproject.com">Django</a>.
</p>

<h2>Bookshare &mdash; Platform for textbook exchanges</h2>
<p>
  <strong>Documentation:</strong>
  <a href="http://wiki.srct.gmu.edu/wiki/index.php/Bookshare">SRCT Wiki</a>
  <br />

  <strong>Repository:</strong>
  <a href="http://github.com/jrouly/bookshare">GitHub</a>
  <br />

  <strong>Link:</strong>
  <a href="http://bookshare.srct.gmu.edu">SRCT Bookshare</a>
  <br /></br />

  <strong>Description:</strong>
  SRCT Bookshare is a textbook exchange platform for use by Mason
  students. Bookshare brings together buyers and sellers in a
  structured environment where items are organized by Title,
  Author, ISBN, and Course ID. The application was created using the
  <a href="http://djangoproject.com">Django</a> Python web framework and
  <a href="http://getbootstrap.com">Bootstrap</a> CSS framework. User
  accounts are maintained using an external LDAP database while
  listing data is managed by a backend MariaDB database.
</p>

<h2>LegalSeagull &mdash; An open legal database</h2>
<p>
  <strong>Repository:</strong>
  <a href="//github.com/dwbond/legalseagull">GitHub</a>
  <br />

  <strong>Link:</strong>
  <a href="http://legalseagull.net">LegalSeagull</a>
  <br /></br />

  <strong>Description:</strong>
  LegalSeagull is an Open Source tool for accessing, analyzing, and
  visualizing open legal data. The United States legal code and Supreme
  Court decisions are public domain information, yet often strangely locked
  behind paywalls and hefty contracts. LegalSeagull aims to change all
  that. Open Source from the core out, this tool aims to provide an
  easy-to-use interface to access public United States legal documentation.
  LegalSeagull is built on a <a href="http://djangoproject.com">Django</a>
  webstack with <a href="http://bootswatch.com">Bootswatch</a>.
</p>

<h2>Research-Questions &mdash; A crowd-sourced peer review tool</h2>
<p>
  <strong>Repository:</strong>
  <a href="//github.com/jrouly/research-questions">GitHub</a>
  <br />

  <strong>Link:</strong>
  <a href="http://research-questions.prm.rouly.net">Research-Questions</a>
  <br /></br />

  <strong>Description:</strong>
  Research-Questions is an Open Source crowd sourcing platform for
  peer-review. It is all too often the case that the peer-review process
  for students entering into research is either incorrectly implemented or
  overlooked entirely. Researc-Questions provides an easy to use, intuitive
  system for students to engage in an academic, scholarly conversation.
  Submitting and reviewing proposed research questions is easy and
  anonymous, and the discussion generated by a proposal dynamically sorts
  and re-orders the list of submitted topics. Built on
  <a href="http://djangoproject.com">Django</a> with a customized
  <a href="http://bootswatch.com">Bootswatch</a> theme. Sample login credentials
  can be provided upon request.
</p>

<h2>StackMining &mdash; A demonstration of <code>scikit-learn</code> tools</h2>
<p>
  <strong>Repository:</strong>
  <a href="http://github.com/jrouly/stackmining">GitHub</a>
  <br />

  <strong>Description:</strong>
  StackMining is a brief demonstration of the power of the
  <a href="https://github.com/scikit-learn/scikit-learn">
  <code>scikit-learn</code></a> library. Pulling in archives from the
  popular <a href="https://stackexchange.com">StackExchange</a> websites,
  StackMining allows the user to apply a variety of different unsupervised
  clustering algorithms to the large XML dataset. Free and tuning variables
  are extracted into configuration files.
</p>

{% endblock %}
