<!DOCTYPE HTML>
<html lang="en-US">

  <head>

    <title>Michel Rouly</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" />

    <meta charset="UTF-8">
    <meta name="robots" content="all">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="Michel Rouly, Jean, Michel, Rouly, computer science, research, software, George Mason University">
    <meta name="description" content="Michel Rouly's personal website.">
    <meta name="author" content="Michel Rouly">

  </head>

  <body>
    <div id="container">

      <div id="banner">
        <h1>
          {% set gravatar_url = 'jrouly@gmu.edu' | gravatar %}
          <a href="{{ gravatar_url }}"><img src="{{ gravatar_url }}" id="profile" alt="gravatar"></a>
          <a href="{{ url_for('views.homepage') }}" id="name">michel rouly</a> /
          <span id="pagetitle">{% block pagetitle %}{% endblock %}</span>
        </h1>
      </div>

      <ul id="nav">
        <li><a href="{{ url_for('views.homepage') }}">home</a></li>

        <li class="separator">portfolio</li>

        <li><a href="{{ url_for('views.work') }}">work</a></li>
        <li><a href="{{ url_for('views.projects') }}">projects</a></li>
        <li><a href="{{ url_for('views.research') }}">research</a></li>

        <li class="separator">contact</li>

        <li><a href="{{ url_for('static', filename='rouly_resume.pdf') }}">résumé</a></li>
        <li><a class="external" href="https://github.com/jrouly/">github</a></li>
        <li><a class="external" href="https://linkedin.com/in/michelrouly">linkedin</a></li>
        <li><a href="{{ url_for('static', filename='pgp.asc') }}">pgp</a></li>
      </ul>

      <div id="maincontent">
        {% block content %}

        {% endblock %}
      </div>

    </div>
  </body>
</html>
