<!DOCTYPE HTML>
<html lang="en-US">
    <head>
      <meta charset="UTF-8">
      <meta name="keywords" content="Jean Michel Rouly, computer science, research, software, George Mason University">
      <meta name="description" content="Jean Michel Rouly's personal website.">
      <meta name="author" content="Jean Michel Rouly">
      <meta name="robots" content="all">

      <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
      <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" />
      <title>Michel Rouly</title>
    </head>
    <body>
      <div id="maincontent">

        <h1>{% block pagetitle %}{% endblock %}</h1>

        <span id="nav">
          <a href="{{ url_for('views.homepage') }}">home</a> - 
          <a href="{{ url_for('views.work') }}">work</a> - 
          <a href="{{ url_for('views.projects') }}">projects</a> -
          <a href="{{ url_for('views.research') }}">research</a> - 
          <a href="{{ url_for('views.community') }}">community</a> - 
          <a href="{{ url_for('static', filename='rouly_resume.pdf') }}">résumé</a>
        </span>

        <span id="contact_me">
          <a href="{{ url_for('views.contact') }}">contact</a>
        </span>

        <hr />

        {% block content %}

        {% endblock %}

      </div>
      <div id="timestamp">2015-05-25 <a href="http://www.apache.org/licenses/LICENSE-2.0">&copy; Jean Michel Rouly</a></div>

      <!-- Piwik Image Tracker-->
      <img src="http://michel.rouly.net/analytics/piwik.php?idsite=1&rec=1" style="border:0" alt="" />
      <!-- End Piwik -->

    </body>
</html>
