{% extends 'base.html' %}

{% block pagetitle %}
michel rouly &middot; {community involvement}
{% endblock %}

{% block content %}

<h2>Student-Run Computing and Technology</h2>

<p>
  <a href="http://srct.gmu.edu">Student-Run Computing and Technology</a>
  (SRCT) is a student organization at George Mason University which
  establishes and maintains systems that provide specific services to the
  Mason community. Documentation
  is available on the <a href="http://wiki.srct.gmu.edu">SRCT wiki</a>.
  Mason SRCT is active on
  <a href="https://facebook.com/MasonSRCT">Facebook</a> and
  <a href="https://twitter.com/MasonSRCT">Twitter</a>.
</p>

<p>
  In August 2013 I was elected president of this organization. As
  SRCT president, I serve to organize a large community of diverse
  student developers, liaise with university administration and
  other student organiations, and maintain organizational
  longevity. As an active SRCT member, I maintain leadership and
  development roles in several student
  <a href="{{ url_for('views.projects') }}">projects</a>.
</p>

<h2>Community Programming Initiative</h2>

<p>
  The <a href="http://hackmason.org/cpi">Community Programming Initiative</a>
  (CPI) was created by members of Mason
  <a href="http://srct.gmu.edu">Student-Run Computing and Technology</a>
  in collaboration with the George Mason
  <a href="http://honorscollege.gmu.edu">Honors College</a> so that George Mason
  students could have the opportunity to teach elementary school age
  children basic concepts about programming, and introduce them to the
  power of a degree working with computers.
</p>

<p>
  Our main goal is to work with children from underprivileged locations in
  Washington D.C. and neighboring areas and introduce them to the concept
  of computer programming. Students are taught Scratch, a programming language
  designed by MIT with a simple drag and drop interface, to help ease the
  students into the swing of things.
</p>

<h2>OpenHatch@Mason &mdash; April 19, 2014</h2>

<p>
  Members of George Mason
  <a href="http://srct.gmu.edu">Student-Run Computing and Technology</a>, in
  concert with the <a href="//openhatch.org">OpenHatch</a> team and the
  <a href="http://gmulug.com">George Mason Linux User Group</a>, are bringing an
  Open Source workshop to Mason students.
</p>

<p>
  Open source software &mdash; software that is shared freely and available
  to build upon &mdash; is a great way to apply programming skills to
  real-world projects and social causes. This event specially welcomes
  newcomers to that style of development, and the day begins with teaching
  workshops that anyone can follow. Local members of industry and Open
  Source developers will be present to engage with students and provide
  mentorship.
</p>

{% endblock %}
