{% extends 'base.html' %}

{% block pagetitle %}
michel rouly &middot; {home}
{% endblock %}

{% block content %}

<p>
  My name is Jean Michel Rouly.
  I am an undergraduate at <a href="http://www.gmu.edu">George Mason University</a> in Computer Science, with research interests in Machine Learning and Data Mining.
  I formerly served as president of the George Mason <a href="http://srct.gmu.edu">Student-Run Computing and Technology</a> organization.
</p>

<p>
  I am currently completing my final year of undergraduate study and spending most of my time working on my <a href="//trajectory.staging.rouly.net">senior project</a>.
</p>

{% endblock %}
