{% extends 'base.html' %}

{% block pagetitle %}
michel rouly &middot; {home}
{% endblock %}

{% block content %}

<p>
  My name is Jean Michel Rouly. I am an undergraduate at 
  <a href="http://www.gmu.edu">George Mason University</a> 
  in Computer Science, with research interests in 
  Machine Learning and Data Mining. I currently
  serve as president of the George Mason
  <a href="http://srct.gmu.edu">Student-Run Computing and Technology</a>
  organization.
</p>

<p>
  This summer 2014 I was engaged as an undergraduate researcher with the
  <a href="http://ua.edu">University of Alabama</a> 
  and the 
  <a href="http://www.nsf.gov">National Science Foundation</a> 
  conducting research into machine learning in theory and 
  application with the 
  <a href="http://reu.cs.ua.edu/">UA REU ESE</a>
  program.
</p>

<p>
  Please view my <a href="{{ url_for('views.work') }}">work</a>,
  <a href="{{ url_for('views.projects') }}">projects</a>,
  <a href="{{ url_for('views.research') }}">research</a>, and
  <a href="{{ url_for('views.community') }}">community</a> pages or my
  <a href="{{ url_for('static', filename='resume.pdf') }}">résumé</a> for more information.
</p>

{% endblock %}
