{% extends 'base.html' %}

{% block pagetitle %}
home
{% endblock %}

{% block content %}

<p>
  My name is Jean Michel Rouly.
  I am a Software Engineer at <a href="//rallyhealth.com">Rally Health</a>.
  Recently, I graduated from <a href="//gmu.edu">George Mason University</a> with highest honors in Computer Science.
  During that time, I conducted <a href="{{ url_for('views.research') }}">research</a> in Machine Learning and Data Mining.
  I formerly served as president of the George Mason <a href="http://srct.gmu.edu">Student-Run Computing and Technology</a> organization.
</p>

{% endblock %}
