<ul id="nav">
  <li><a href="{{ url_for('views.homepage') }}">home</a></li>
  <li class="separator">portfolio</li>
  <li><a href="{{ url_for('views.work') }}">work</a></li>
  <li><a href="{{ url_for('views.projects') }}">projects</a></li>
  <li><a href="{{ url_for('views.research') }}">research</a></li>
  <li><a href="{{ url_for('views.community') }}">community</a></li>
  <li class="separator">contact</li>
  <li><a href="{{ url_for('static', filename='rouly_resume.pdf') }}">résumé</a></li>
  <li><a class="external" href="//github.com/jrouly/">github</a></li>
  <li><a class="external" href="//linkedin.com/in/michelrouly">linkedin</a></li>
  <li><a href="{{ url_for('static', filename='88C35818.asc') }}">pgp</a></li>
</ul>
