{% extends 'base.html' %}

{% block pagetitle %}
projects
{% endblock %}

{% block content %}

  <h2>Open Source</h2>

  <p>
    <code class="embedded-title"><a href="https://github.com/jrouly/sbt-artifactory" target="_blank">sbt-artifactory</a></code>
    A small <a href="https://www.scala-sbt.org/" target="_blank">sbt</a> plugin that adds a resolver for
    <a href="https://jfrog.com/artifactory/" target="_blank">Artifactory</a>. Makes resolving artifacts from and
    publishing artifacts to either internal Artifactory installations or the JFrog Artifactory cloud much simpler.
  </p>

  <p>
    <code class="embedded-title"><a href="https://github.com/jrouly/sbt-openapi-style-validator" target="_blank">sbt-openapi-style-validator</a></code>
    An <a href="https://www.scala-sbt.org/" target="_blank">sbt</a> plugin that supports validating
    <a href="https://www.openapis.org/" target="_blank">OpenAPI specification</a> files using
    <a href="https://github.com/OpenAPITools/openapi-style-validator" target="_blank"><code>openapi-style-validator</code></a>.
    Useful for validating OpenAPI correctness at build time or during CI.
  </p>

  <p>
    <code class="embedded-title"><a href="https://github.com/jrouly/sbt-openapi-diff" target="_blank">sbt-openapi-diff</a></code>
    An <a href="https://www.scala-sbt.org/" target="_blank">sbt</a> plugin that computes the diff between
    <a href="https://www.openapis.org/" target="_blank">OpenAPI specifications</a> using
    <a href="https://github.com/OpenAPITools/openapi-diff" target="_blank"><code>openapi-diff</code></a>. Useful for
    determining backwards compatibility between versions of the same OpenAPI specification, especially at build or
    release time.
  </p>

  <p>
    <code class="embedded-title"><a href="https://github.com/jrouly/sbt-docker" target="_blank">sbt-docker</a></code>
    Docker image of <a href="https://www.scala-sbt.org/" target="_blank">sbt</a> with pre-cached boot jars,
    emphasizing rapid startup time.
  </p>

  <p>
    <code class="embedded-title"><a href="https://github.com/jrouly/acs-language-survey" target="_blank">acs-language-survey</a></code>
    Analysis of the most common non-English and non-Spanish languages spoken per state in the US. Built using
    <a href="https://www.python.org/" target="_blank">Python</a> and
    <a href="https://pandas.pydata.org/" target="_blank">Pandas</a>.
  </p>

  <p>
    <code class="embedded-title"><a href="https://github.com/jrouly/traveling-beersman" target="_blank">traveling-beersman</a></code>
    Small graph data project to approximate a Traveling Salesman route between the local craft breweries in a city.
    Uses <a href="https://spark.apache.org" target="_blank">Apache Spark</a> with data sourced from
    <a href="https://beeradvocate.com" target="_blank">BeerAdvocate</a>.
  </p>

  <h2>George Mason University Honors College</h2>

  <p>
    <code class="embedded-title"><a href="https://github.com/jrouly/research-questions" target="_blank">research-questions</a></code>
    An open source platform for academic peer-review. Provides an intuitive system to facilitate scholarly
    conversations between students new to the research process. The conversation is facilitated by a rating and
    commenting system. An action logging system adds accountability to the student discussion, allowing faculty and
    mentors to moderate the service. Built on <a href="http://djangoproject.com" target="_blank">Django</a>.
  </p>

  <p>
    <code class="embedded-title"><a href="https://github.com/jrouly/reading-scholarly-articles" target="_blank">reading-scholarly-articles</a></code>
    A visual guide for students first entering the research process. It displays a
    collection of sample open source research articles in a variety of fields and highlights the various components
    that are common to that field. Built with <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> and a
    great deal of <a href="http://jquery.com" target="_blank">JQuery</a>.
    Updates the <a href="https://www.ncsu.edu/" target="_blank">NCSU</a> library's
    <a href="https://www.lib.ncsu.edu/tutorials/scholarly-articles/" target="_blank">Anatomy of a Scholarly Article</a>
    project.
  </p>

  <h2>Student Run Computing and Technology</h2>

  <p>
    <code class="embedded-title"><a href="http://github.com/srct/go" target="_blank">go</a></code>
    SRCT Go is a university-branded URL shortening service. Go was originally written in Python with the low level
    <code><a href="https://modwsgi.readthedocs.io/en/master/" target="_blank">mod_wsgi</a></code> interface backed by
    <a href="http://mariadb.org/" target="_blank">MariaDB</a>. It has since been rewritten in
    <a href="http://djangoproject.com" target="_blank">Django</a>.
  </p>

  <p>
    <code class="embedded-title"><a href="http://github.com/srct/bookshare" target="_blank">bookshare</a></code>
    SRCT Bookshare is a textbook exchange platform for use by Mason students. Bookshare brings together buyers and
    sellers in a structured environment where items are organized by title, author, ISBN, and course number.
    Built on <a href="http://djangoproject.com" target="_blank">Django</a>. User accounts are maintained using an
    external LDAP database while listing data is managed by a backend
    <a href="http://mariadb.org/" target="_blank">MariaDB</a> database.
  </p>

{% endblock %}
