{% extends 'base.html' %}

{% block pagetitle %}
research
{% endblock %}

{% block content %}

  <!-- ------------------------------------------------------------------------------------------------------------ -->

  <h2>Masters Research Project</h2>

  <p>
    <strong>Project Title:</strong>&nbsp;Measuring Career Preparedness with Topic Modeling
  </p>

  <p>
    This self directed research was performed within the framework of the Georgia Tech
    <a href="https://omscs.gatech.edu/cs-6460-educational-technology">Educational Technology</a>
    research course. It explored the relationship between post-secondary education and the expectations of the
    workforce. Specifically it applied Topic Modeling to university course descriptions and industry job listings.
  </p>

  <p>
    The work utilized previous research performed at George Mason described below. The technologies used included
    <a href="https://www.scala-lang.org/">Scala</a>, <a href="https://akka.io/">Akka</a>,
    <a href="https://doc.akka.io/docs/alpakka/current/index.html">Alpakka</a>,
    Apache <a href="https://opennlp.apache.org/">OpenNLP</a> and <a href="https://spark.apache.org/">Spark</a>,
    <a href="https://www.elastic.co/">Elasticsearch</a>, <a href="https://github.com/playframework/playframework">Play</a>,
    and <a href="https://www.postgresql.org/">Postgres</a>.
  </p>

  <ul>
    <li><a href="{{ url_for('static', filename='dist/employability-paper.pdf') }}">Paper (pdf)</a></li>
    <li><a href="https://github.com/jrouly/employability">Code (GitHub)</a></li>
  </ul>

  <!-- ------------------------------------------------------------------------------------------------------------ -->

  <h2>Senior Design Research Project</h2>

  <p>
    <strong>Project Title:</strong>&nbsp;What Are We Teaching? Automated Evaluation of CS Curricula Content Using
    Topic Modeling
  </p>

  <p>
    This research was performed under the supervision of <a href="https://cs.gmu.edu/~hrangwal/">Huzefa Rangwala</a>
    at George Mason University. We explored the application of Topic Modeling to textual university curriculum data,
    specifically course descriptions. Automatically extracting content from this corpus allows for larger-scale
    analysis of university curricula than would be possible with manual inspection.
  </p>

  <p>
    In addition to extracting topics from course documents, I independently developed an easy-to-use, web-based
    visualization platform to display the results of information extraction and analysis. The visualization tool is
    built with <a href="https://flask.pocoo.org">Flask</a>.
  </p>

  <ul>
    <li><a href="https://doi.org/10.1145/2787622.2787723">ACM Digital Library</a></li>
    <li><a href="{{ url_for('static', filename='dist/trajectory-paper.pdf') }}">Paper (pdf)</a></li>
    <li><a href="{{ url_for('static', filename='dist/trajectory-poster.pdf') }}">Poster (pdf)</a></li>
    <li><a href="{{ url_for('static', filename='dist/trajectory-slides.pdf') }}">Slides (pdf)</a></li>
    <li><a href="https://github.com/jrouly/trajectory">Code (GitHub)</a></li>
  </ul>

  <!-- ------------------------------------------------------------------------------------------------------------ -->

  <h2>UA REU Empirical Software Engineering</h2>

  <p>
    <strong>Project Title:</strong>&nbsp;Usability and Suitability Survey of Features in Visual IDEs for Non-Programmers
  </p>

  <p>
    Summer 2014 I was engaged as an undergraduate researcher with the <a href="http://ua.edu">University of Alabama</a>
    and the <a href="http://www.nsf.gov">National Science Foundation</a> conducting research into software engineering
    theory and application with the <a href="http://reu.cs.ua.edu/">UA REU ESE</a> program.
  </p>

  <p>
    The project involved the systematic empirical study of user interfaces in visual language integrated development
    environments (IDEs). Along with <a href="http://www-ens.iro.umontreal.ca/~syriani">Dr. Eugene Syriani</a> we
    analyzed a set of visual language IDEs and developed formal metrics for comparison. The goal of this research was
    to understand the important positive and negative features of visual language IDEs in a formal setting.
  </p>

  <ul>
    <li><a href="https://doi.org/10.1145/2688204.2688207">ACM Digital Library</a></li>
    <li><a href="{{ url_for('static', filename='dist/ua-ese-reu-paper.pdf') }}">Paper (pdf)</a></li>
    <li><a href="{{ url_for('static', filename='dist/ua-ese-reu-slides.pdf') }}">Slides (pdf)</a></li>
  </ul>

  <!-- ------------------------------------------------------------------------------------------------------------ -->

  <h2>Amalthea REU</h2>

  <p>
    <strong>Project Title:</strong>&nbsp;Large-scale Clustering for Big Data Analytics: A MapReduce Implementation
    of Hierarchical Affinity Propagation
  </p>

  <p>
    Summer 2013 I was engaged as an undergraduate researcher with the
    <a href="http://www.fit.edu">Florida Institute of Technology</a> and the
    <a href="http://www.nsf.gov">National Science Foundation</a>
    conducting research into machine learning in theory and application with the
    <a href="http://www.amalthea-reu.org">Amalthea REU</a> program.
  </p>

  <p>
    The project involved architecting and implementing a Big Data scale data-mining framework. The application was
    built on existing free and open source software frameworks including
    <a href="http://hadoop.apache.org">Apache Hadoop</a> for MapReduce and distributed filesystem implementations,
    <a href="http://mahout.apache.org">Apache Mahout</a> libraries for mathematical support and algorithm benchmarking,
    and <a href="http://hive.apache.org">Apache Hive</a> for data warehousing and post-processing data manipulation.
  </p>

  <p>
    Specifically, we parallelized the exemplar-based clustering algorithm
    <a href="http://uai.sis.pitt.edu/papers/11/p238-givoni.pdf">Hierarchical Affinity Propagation</a>
    using a MapReduce framework. Preliminary results of running the distributed algorithm on
    <a href="http://aws.amazon.com/elasticmapreduce">AWS Elastic MapReduce (EMR)</a>
    service indicate superior performance as compared to competitive algorithms from the Apache Mahout libraries.
  </p>

  <ul>
    <li><a href="https://doi.org/10.1109/IC2E.2014.42">IEEE Xplore</a></li>
    <li><a href="{{ url_for('static', filename='dist/amalthea-paper.pdf') }}">Paper (pdf)</a></li>
    <li><a href="{{ url_for('static', filename='dist/amalthea-slides.pptx') }}">Slides (pptx)</a></li>
    <li><a href="{{ url_for('static', filename='dist/amalthea-poster.pdf') }}">Poster (pdf)</a></li>
    <li><a href="{{ url_for('static', filename='dist/amalthea-tech-report.pdf') }}">Tech Report (pdf)</a></li>
    <li><a href="https://github.com/jrouly/hap-with-map">Code (GitHub)</a></li>
  </ul>

{% endblock %}
