{% extends 'base.html' %}

{% block pagetitle %}
work
{% endblock %}

{% block content %}

<h2>Rally Health</h2>

<p>
  I am currently employed by <a href="//rallyhealth.com">Rally Health</a>
  as a Software Engineer. Together, we are revolutionizing the consumer
  healthcare experience.
</p>

<p>
  I work on the <a href="//www.rallyhealth.com/platform/connect/">Rally
  Connect</a> platform. Rally Connect is a robust healthcare provider
  search tool that includes clinical quality, price, and patient feedback
  information.  Built on <a href="//www.scala-lang.org/">Scala</a> and
  <a href="//www.lightbend.com/community/core-projects/play-framework">Play</a>,
  we use the most modern web development technology to bring users a
  simple, friendly, and powerful search experience.
</p>

<h2>Harmonia</h2>

<p>
  I was previously contracted with
  <a href="http://www.harmonia.com">Harmonia Holdings Group</a>
  as an independent Java programming consultant for the
  development of a learning classifier engine. My services
  included high level architecture design, user interface
  development, and software development to customer
  specification.
</p>

<h2>George Mason Honors College RTOC</h2>

<p>
  During the Fall semester 2013, I was employed by the
  <a href="http://honorscollege.gmu.edu">George Mason University Honors College</a>
  as a part of the
  <a href="http://collegeresearch.gmu.edu">Research, Technology, and Online Community</a>
  (RTOC) initiative with the goal of developing online interactive
  tools to support first year students engaging in complex research
  processes.
</p>

<p>
  Pursuant with my position, I led the development of a project to
  assist students with the research process. Specifically, the
  interactive web service allows students to anonymously submit
  their research questions for crowd-sourced community peer-review.
  The academic and critical conversation is facilitated by a rating
  and commenting system. A user-logging system adds accountability
  to the student discussion, and allows faculty and mentors to
  moderate the service.
</p>

{% endblock %}
