{% extends 'base.html' %}

{% block pagetitle %}
work
{% endblock %}

{% block content %}

<h2>Rally Health</h2>

<p>
  I am currently a Principal Software Engineer with <a href="https://rallyhealth.com">Rally Health</a>.
  We build products that help users navigate the American healthcare system: finding high quality care,
  filling prescriptions, and understanding prices. I primarily write in <a href="https://www.scala-lang.org/">Scala</a>
  using the <a href="https://github.com/playframework/playframework">Play web framework</a>.
</p>

<h2>Harmonia</h2>

<p>
  I was previously contracted with <a href="https://www.harmonia.com">Harmonia Holdings Group</a> as an independent
  Java programming consultant for the development of a learning classifier engine. My work included high level
  architecture design, user interface development, and software development to customer specification.
</p>

<h2>George Mason Honors College RTOC</h2>

<p>
  During the fall semester of 2013, I worked with the
  <a href="https://honorscollege.gmu.edu/">George Mason University Honors College</a>
  as a part of the
  <a href="https://collegeresearch.gmu.edu/">Research, Technology, and Online Community (RTOC)</a>
  initiative with the goal of developing online interactive
  tools to support first year students engaging in complex research
  processes.
</p>

<p>
  I led the development of <a href="https://github.com/jrouly/research-questions">Research Questions</a>
  which assists students new to the academic research process. Specifically, the interactive web service allows
  students to anonymously submit their research questions for community peer-review. The academic and critical
  conversation is facilitated by a rating and commenting system. A user-logging system adds accountability
  to the student discussion, and allows faculty and mentors to moderate the service.
</p>

<p>
  I additionally worked on a restoration and modernization project called
  <a href="https://github.com/jrouly/reading-scholarly-articles">Reading Scholarly Articles</a> which updated
  the NCSU library website
  <a href="https://www.lib.ncsu.edu/tutorials/scholarly-articles/">Anatomy of a Scholarly Article</a>.
</p>

{% endblock %}
