{% extends 'base.html' %}

{% block pagetitle %}
work
{% endblock %}

{% block content %}

  <h2>Zephyr AI</h2>

  <p>
    I am currently a software engineer with <a href="https://zephyrai.bio">Zephyr AI</a>.
    We use machine learning and precision medicine to identify novel biomarkers for chronic disease.
    I work with Python, TypeScript, Terraform, AWS, and many other technologies to support this goal.
  </p>


  <h2>Rally Health</h2>

  <p>
    I used to work at <a href="https://rallyhealth.com" target="_blank">Rally Health</a>.
    We built products that help users navigate the American healthcare system: finding high quality care, filling
    prescriptions, and understanding prices. I primarily wrote in
    <a href="https://www.scala-lang.org/" target="_blank">Scala</a> using the
    <a href="https://github.com/playframework/playframework" target="_blank">Play web framework</a>.
  </p>

  <h2>Harmonia</h2>

  <p>
    I was previously contracted with <a href="https://www.harmonia.com" target="_blank">Harmonia Holdings Group</a> as
    an independent Java programming consultant for the development of a learning classifier engine. My work included
    high level architecture design, user interface development, and software development to customer specification.
  </p>

  <h2>George Mason Honors College RTOC</h2>

  <p>
    During the fall semester of 2013, I worked with the
    <a href="https://honorscollege.gmu.edu/" target="_blank">George Mason University Honors College</a>
    as a part of the
    <a href="https://collegeresearch.gmu.edu/" target="_blank">Research, Technology, and Online Community (RTOC)</a>
    initiative with the goal of developing interactive online tools to support first year students engaging
    in scholarly research for the first time. While there, I lead the development of
    <a href="https://github.com/jrouly/research-questions" target="_blank">Research Questions</a> and
    <a href="https://github.com/jrouly/reading-scholarly-articles" target="_blank">Reading Scholarly Articles</a>. See
    <a href="{{  url_for('views.projects') }}">projects</a> for more information.
  </p>

{% endblock %}
