/* @import "fonts.css"; */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

/* Generic elements. */

body {
  background-color: #FFFFFF;
  font-size: .8em;
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #3F78A9;
}

a { }

a:hover {
  color: #A94D3F;
}

a[href*="//"]:not([href*="localhost"]):after {
  content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
  margin: 0 0 0 5px;
}

p {
  text-align: justify;
}

/* Page structure */

#container {
  margin: auto;
  padding: 15px;
  max-width: 800px;
}

#container hr {
  color: #000000;
  background-color: #000000;
  border: 1px solid #000000;
  clear: both;
}

#container h1 {
  font-size: 2em;
  margin-bottom: 0px;
}

#container h2 {
  font-size: 1.3em;
}

#container h3 {
  font-size: 1.1em;
  margin-left: 1em;
}

#container p.subparagraph {
  margin-left: 2em;
}

/* Banner / heading. */

#banner {
  font-size: 0.7em;
  margin-bottom: 15px;
}

#banner #profile {
  width: 65px;
  height: 65px;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
}

@media (min-width: 500px) {
  #banner #profile { display: inline; }
}

@media (max-width: 500px) {
  #banner #profile { display: none; }
}

#banner #name { }

#banner #pagetitle {
  font-weight: normal;
}

/* Navigation and content columns */

#nav {
  display: block;
  box-sizing: border-box;
  float: left;
  clear: none;
  list-style-type: none;
  padding: 0px;
}

#nav li { }

#nav li a {
  width: 100%;
  box-sizing: border-box;
}

#nav li.separator {
  color: #626262;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

#maincontent {
  display: block;
  float: none;
  clear: none;
  max-width: 680px;
}

@media (min-width: 500px) {
  #nav { width: 100px; margin-right: 20px; }
  #nav li { display: block; }
  #nav li a { display: block; padding: 5px 0px 5px 10px; }
  #maincontent { overflow: hidden; }
}

@media (max-width: 500px) {
  #nav { width: 100%; text-align: center; }
  #nav li { display: inline; }
  #nav li a { display: inline; padding: 7px; }
  #nav li.separator { display: none; }
  #maincontent { overflow: visible; }
}

/* Contact page */

span.contacttype {
  text-align: center;
  width: 2.5em;
  display: inline-block;
}
